:root {
  --c0: #140c1c;
  --c1: #d04648;
  --c2: #346524;
  --c3: #d27d2c;
  --c4: #30346d;
  --c5: #442434;
  --c6: #6dc2ca;
  --c7: #deeed6;
  --c8: #4e4a4e;
  --c9: #d2aa99;
  --cA: #6daa2c;
  --cB: #dad45e;
  --cC: #597dce;
  --cD: #854c30;
  --cE: #8595a1;
  --cF: #757161;
}

html {
  background: black;
  color: var(--c7);
  font-family: sans-serif;
}

blockquote {
  padding-left: 1em;
  border-left: 4px solid var(--c2);
}

code {
  color: var(--cA);
  font-family: monospace;
}

ul.love {
  list-style: none;
  padding: 0;
}

ul.love>li:before {
  content: '♥ ';
  color: var(--c1);
}
